
/* HOMEPAGE */
#homepage-custom-about {
    max-width: 90%;
}

/* ABOUT SECTION */
#homepage-custom-about .elementor-widget-container div {
    font-size: 9vw;
    letter-spacing: -0.01em;
    color: #191b1d;
}
#homepage-custom-about .linked-line {
    display: block;
    text-align: start;
    position: relative;
    height: 10vw;
}
#homepage-custom-about .linked-line__through {
    text-decoration: line-through;
}
#homepage-custom-about .linked-line a {
    height: inherit;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
#homepage-custom-about .linked-line a:hover::before {
    width: 0%;
}
#homepage-custom-about .linked-word {
    position: relative;
    display: inline-block;
    transform: translate(0px, 0%);    
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    text-decoration: underline #191b1d;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 4px;
}
#homepage-custom-about .linked-line a:hover .linked-word {
    transform: translate(0, -100%);
}
#homepage-custom-about .link-target {
    color: #191b1d;
    transform: translate(0px, 0%);
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    position: relative;
    display: block;
}
#homepage-custom-about .linked-line a:hover .about-gradient span {
    background: linear-gradient( to right, #EE32FF 30%, #4700FF 70% );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite;
}
#homepage-custom-about .linked-line a:hover .contact-gradient span {
    background: linear-gradient( to right, #4700FF 30%, #5EEAEB 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite;
}
#homepage-custom-about .linked-line a:hover .clients-gradient span {
    background: linear-gradient( to right, #5EEAEB 30%, #FE3E4B 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite;
}
#homepage-custom-about .linked-line a:hover .culture-gradient span {
    background: linear-gradient( to right, #FE3E4B 30%, #F9F3AD 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite;
}
#homepage-custom-about .linked-line a:hover .work-gradient span {
    background: linear-gradient( to right, #F9F3AD 30%, #5EDBEB 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite;
}
#homepage-custom-about .linked-line a:hover .service-gradient span {
    background: linear-gradient( to right, #5EDBEB 30%, #C9ABF9 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite;
}
#homepage-custom-about .about-gradient {
    color: #EE32FF;
}
#homepage-custom-about .contact-gradient {
    color: #4700FF;
}
#homepage-custom-about .clients-gradient {
    color: #5EEAEB;
}
#homepage-custom-about .culture-gradient {
    color: #FE3E4B;
}
#homepage-custom-about .work-gradient {
    color: #F9F3AD;
}
#homepage-custom-about .service-gradient {
    color: #5EDBEB;
}


#homepage-custom-about .linked-line a:hover .link-target {
    transform: translate(0, -100%);
}

#homepage-custom-about .linked-grid {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content; 
}
.homepage-about__refreshing-wrapper {
    position: relative;
}
.homepage-about__refreshing-wrapper .first-child {
    margin-bottom: 10vw;
}
.elementor .homepage-about__refreshing-wrapper img {
    position: absolute;
    left: -18px;
    bottom: 2vw;
    height: auto;
    max-height: 300px;
}

/* BRANDS SECTION */
#homepage__brands-column {
    margin-top: 50px;
}
#homepage__brands-column img {
    width: 150px;
    margin: 0 auto 30px;
}
#homepage__brands-header .anim_char {
    font-size: 75px;
    line-height: 75px;
}
#homepage__brands-header .elementor-widget-image {
    position: absolute;
    top: 55px;
    left: -15px;
}
#homepage-brands__header-content .content {
		position: relative;
    max-width: 270px;
}
#homepage-brands__header-content p{
    font-size: 80px;
    font-weight: 400;
    color: #2D2D2D;
    max-width: 255px;
    font-family: 'Just Sans';
}
#homepage-brands__header-content img {
    position: absolute;
    right: -80px;
    top: -50px;
    max-width: 2558px;
    max-height: 1750px;
    height: auto;
    width: 320px;
}

/* AWARDS SECTION */
#homepage__breakthrough-column p {
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
}
#homepage__breakthrough-column .content {
    position: relative;
    max-width: 330px;
}
#homepage__breakthrough-column .content img {
    position: absolute;
    top: 0;
    left: -15px;
}
#homepage__awards-column {
    margin-top: 100px;
}
#homepage__awards-column a:focus {
    outline: none;
}
#homepage__blogs-column .heading-bg-text {
    z-index: -1;
}



@media only screen and (min-width: 451px) {
	#homepage__brands-column .alioth-clients.column-4 .a-client {
			width: 33.333%;
			padding: 0 10px;
	}
	#homepage__brands-column img {
			margin: 0 auto;
	}
	#homepage__brands-column .alioth-clients{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	}

	#homepage__brands-column .alioth-clients.column-4 .a-client {
			width: 100%;
	}

	#homepage__brands-column .a-client a {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0 10px;
	}
}

@media only screen and (min-width: 700px) {
	#homepage-brands__header-content p {
		font-size: 135px;
	}
	#homepage-brands__header-content .content {
		max-width: 450px;
	}
	#homepage-brands__header-content img {
        top: -130px;
        width: 700px;
        right: auto;
        left: 0;
	}
	#homepage__brands-column .a-client {
        margin: 50px auto 80px;
	}

    #homepage__awards-column {
        margin-top: 150px;
    }
    #homepage__breakthrough-column .content {
        max-width: 700px;
    }
    #homepage__breakthrough-column .content img {
        left: -25px;
        top: 0;
    }
}

@media only screen and (min-width: 992px) {
    #homepage-custom-about {
        max-width: 950px;
    }        
}

@media only screen and (min-width: 1024px) {
	#homepage__breakthrough-column p {
		font-size: 101px;
	}
	#homepage__breakthrough-column .content img {
		left: -60px;
		top: -55px;
		max-width: 2500px;
		max-height: 1000px;
		height: auto;
		width: 950px;
	}
	#homepage__awards-column {
        margin-top: 180px;
	}
}


@media only screen and (min-width: 1200px) {
    #homepage-custom-about {
        max-width: 1174px;
    }
    #homepage-custom-about .linked-grid {
        column-gap: 35px;    
    }
    #homepage-custom-about .elementor-widget-container div {
        padding-left: 15px;
    }
    #homepage-custom-about .elementor-widget-container div.first-child,
    #homepage-custom-about .elementor-widget-container div.last-child,
    #homepage-custom-about .elementor-widget-container div.linked-grid .linked-line,
    #homepage-custom-about .elementor-widget-container div.linked-word {
        padding: 0;
    }
    #homepage-custom-about .linked-word {
        text-decoration-thickness: 7px;
    }
    .homepage-about__refreshing-wrapper ~ div {
        padding: 0;
    }
    .elementor .homepage-about__refreshing-wrapper img {
        left: -75px;
    }

    /* BRANDS SECTION */
    #homepage-brands__header-content img {
		left: 165px;
		top: -127px;
	}
	#homepage__brands-column .alioth-clients {
			grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	#homepage__brands-column img {
    	width: 160px;
	}
	#homepage__brands-column .alioth-clients.column-4 .a-client {
		width: 100%;
		margin-bottom: 85px;
	}
	#homepage__brands-column .elementor-widget-container .alioth-clients div:nth-of-type(3) img,
	#homepage__brands-column .elementor-widget-container .alioth-clients div:nth-of-type(13) img {
    	width: 100px;
	}

    #homepage__awards-column {
        margin-top: 220px;
    }
    
    #homepage__breakthrough-column .content img {
        left: -80px;
        top: -70px;
        width: 1135px;
    }
}
@media only screen and (min-width: 1450px) {
    #homepage-custom-about {
        max-width: 1274px;
    }
    #homepage-custom-about .linked-line {
        height: 8vw;
    }
    #homepage-custom-about .elementor-widget-container div {
        font-size: 7vw;
    }
    .elementor .homepage-about__refreshing-wrapper img {
        max-height: 275px;
    }
}
@media only screen and (min-width: 1600px) {
    #homepage-custom-about {
        max-width: 1500px;
    }
    .homepage-about__refreshing-wrapper .first-child {
        margin-bottom: 115px;
    }
}