.footer-menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
}
.footer-widget #block-26 a {
    color: #191b1d;
}
.footer-widget #block-25 p {
    margin-top: 0px;
}

@media only screen and (min-width: 700px) {
    .footer-widget .big-button {
        text-align: center;
    }
    .footer__secondary-menu {
        text-align: center;
        padding: 0;
    }
}
@media only screen and (min-width: 1200px) {
    .footer-widget .big-button {
        text-align: start;
    }
    .footer__secondary-menu {
        text-align: start;
    }
}